<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadratic Formula</title>
</head>
<body>
    <h1>Quadratic Roots calculator</h1>
    <h4>Enter the input in standard form: (ax<sup>2</sup> + bx + c)</h4>
    <form action="/submit" method="post">
        <label>Enter the value for a: </label>
        <input type="text" name="a" placeholder="Enter a" required>
        <br><br>
        <label>Enter the value for b: </label>
        <input type="text" name="b" placeholder="Enter b" required>
        <br><br>
        <label>Enter the value for c: </label>
        <input type="text" name="c" placeholder="Enter c" required>
        <br><br>
        <input type="submit">
        <br><br>
    </form>
</body>
</html>